body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #0b2434;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    height: 400px;
    width: 400px;
    background: #f5f5f5;
    border-radius: 10px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    padding: 25px;
}

.die-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.die-face {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.die-face h2 {
    font-size: 30px;
}

button {
    height: 50px;
    width: 100px;
    background-color: blue;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1.3px;
}

button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}